<h1 class="text-center py-5">Forgot your password ?</h1>
<div class="row">
  <div class = "card col-md-4 mx-auto">
    <div class="card-body">
      <% if alert %>
        <div class="text-danger"> <%= alert %> </div>
      <% end %>
      <% if notice %>
        <div class="text-success"> <%= notice %> </div>
      <% end %>
      <%= form_with url: email_check_path do |form| %>
        <div class="pt-2">
          <%= form.label :email, class: "required" %>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text font-weight-bold">@</div>
            </div>
            <%= form.email_field :email, class: 'form-control', :required =>true, placeholder: "Enter your email" %>
          </div>
        </div>
        <div class="pt-2 text-center">
          <%= form.submit "Change", class: "btn btn-primary mx-2" %>
          <%= link_to 'Cancel', login_path , class:"btn btn-dark mx-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
