<h1 class="text-center py-5">Reset Your Password ?</h1>
<div class="row">
  <div class = "card col-md-4 mx-auto">
    <div class="card-body">
      <%if notice %>
        <div class="text-danger"> <%= notice %> </div>
      <% end %>
      <%= form_with model:@user, url: reset_password_path(token: params[:token]),method: :post do |form| %>
        <div class="pt-2">
          <%= form.label :password, class: "required" %>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            </div>
            <%= form.password_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class="pt-2">
          <%= form.label :password_confirmation , class: "required" %>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-check-to-slot"></i></div>
            </div>
            <%= form.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <div class="pt-2 text-center">
          <%= form.submit "Reset", class: "btn btn-primary mx-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
