<fieldset class="form-group border p-15">
  <legend class="text-center w-auto pt-5 pb-3">
    <h2><%= @user.name == current_user.name ? "My " : "#{@user.name}'s"  %> Detail</h2>
  </legend>
  <div class="detail">
    <div class="form-group image mb-4">
      <% if @user.profile.present? %>
        <%= image_tag @user.profile %>
      <% end %>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">ID</label>
      <input type="text" value="<%= @user.id %>" class="form-control col-md-8" readonly>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Name</label>
      <input type="text" value="<%= @user.name %>" class="form-control col-md-8" readonly>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Email</label>
      <input type="text" value="<%= @user.email %>" class="form-control col-md-8" readonly>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Phone</label>
      <input type="text" value="<%= @user.phone %>" class="form-control col-md-8" readonly>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Address</label>
      <input type="text" value="<%= @user.address == "" ? "~" : @user.address %>" class="form-control col-md-8" readonly>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Birthday</label>
      <input type="text" value="<%= @user.birthday == nil ? "~" : @user.birthday %>" class="form-control col-md-8" readonly>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Type</label>
      <input type="text" value=<%= @user.admin_flg == true ? "Admin" : "User" %> class="form-control col-md-8" readonly>
    </div>
    <div class="form-group text-center">
      <% if isCurrentUser(@user.id) || current_user.admin_flg %>
        <%= link_to "Edit Info", edit_user_path(@user), class: "btn btn-success mx-2" %>
        <%= link_to "Delete", user_path,
            method: :delete,
            data: { confirm: "Are you sure to delete?" }, class: "btn btn-danger mx-2" %>
      <% end %>
      <%= link_to "Back", users_path, class: "btn btn-dark mx-2" %>
    </div>
  </div>
</fieldset>
