<h1>Post List</h1>
<% if notice %>
  <div class="text-success"> <%= notice %> </div>
<% end %>
<%= form_with model: @post, method: :GET do |form| %>
  <div class="row my-3">
    <div class="col-md-4">
      <%= link_to "Add New Post", new_post_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-3">
      <%= form.select :select, options_for_select([["All", "all"], ["Other Posts", "other"], ["My Posts", "my"]], selected: params[:select]), {}, { class: "custom-select w-auto" } %>
    </div>
    <div class="col-md-1">
      <%= link_to "<i class='fa-solid fa-file-arrow-down'></i>".html_safe, download_csv_path(format: :csv) , class: "csv mr-2", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Download CSV FIle", 'data-placement' => 'top' %>
      <%= link_to "<i class='fa-solid fa-file-arrow-up'></i>".html_safe, upload_csv_path , class: "csv ml-2", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Upload CSV FIle", 'data-placement' => 'top' %>
    </div>
    <div class="col-md-4 d-flex">
      <%= form.text_field :search, class: "form-control mr-2", placeholder: "Search", value: params[:search] %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr class="text-center">
      <th class="no-sort">No</th>
      <th class="no-sort">Title</th>
      <th class="no-sort">Description</th>
      <th class="no-sort">Author</th>
      <th class="no-sort">Status</th>
      <th>Created At</th>
      <th class="no-sort">Updated At</th>
      <th class="no-sort">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @posts.empty? && params[:search].empty? %>
      <tr>
        <td colspan="7" class="text-center">There Is No Post. You Can Also Create Post From <%= link_to "Here", new_post_path %></td>
      </tr>
    <% elsif @posts.empty? && !params[:search].empty? %>
      <td colspan="7" class="text-center"> No Search Result! </td>
    <% else %>
      <% @posts.each.with_index do |post, index| %>
        <tr>
          <td class="text-center"><%= @posts.size-index %></td>
          <td><%= post.title %></td>
          <td><%= post.description %></td>
          <td><%= post.user.name %></td>
          <td><%= post.public_flg ? "Public" : "Private" %></td>
          <td><%= post.created_at.strftime("%Y-%m-%d %I:%M:%S %p") %></td>
          <td><%= post.updated_at.strftime("%Y-%m-%d %I:%M:%S %p") %></td>
          <td class="text-center"><%= link_to "Detail", post_path(post.id), class: "btn btn-info" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
